.vscode/**
.vscode-test/**
out/test/**
**/*.spec.js
src/**
.gitignore
.editorconfig
.eslintrc.json
.huskyrc.js
.prettierrc
CONTRIBUTION.md
vsc-extension-quickstart.md
yarn.lock
yarn-error.log
**/tsconfig.json
**/webpack.config.js
**/.eslintrc.json
**/*.map
**/*.ts
node_modules
VERSION
coverage/
